{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "jsx-a11y/label-has-associated-control": [
            "error",
            {
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                }
            }
        ],
        "jsx-a11y/label-has-for": [
            "error",
            {
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                }
            }
        ],
        "jsx-a11y/no-autofocus": [
            3,
            {
                "ignoreNonDOM": true
            }
        ],
        "linebreak-style": 0
    }
}