body {
  background-color: black;
  color: #c695ee;
  font-family: 'Consolas', monospace;
}

header {
  text-align: center;
}

#messages {
  margin-left: 1em;
  list-style: none;
}

#form {
  display: flex;
}

input, label {
  display: block;
}

input {
  outline: none;
  border: none;
  background-color: black;
  color: #c695ee;
  padding: 1em .5em;
  display: block;
  font-size: 1.5em;
  font-family: 'Consolas', monospace;
  flex: 1;
}

label {
  display: block;
  padding: 1em .5em;
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #messages {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 15px;
  }
}

