html {
    overflow:  hidden;
}

body {
    background-color: black;
    color: #c695ee;
    font-family: 'Roboto', monospace;
}

.main {
    display: flex;
    justify-content: space-between;
}

input {
    outline: none;
    border: none;
    background-color: black;
    color: #c695ee;
    padding: 1em .5em;
    display: block;
    font-size: 1.5em;
    font-family: 'Roboto', monospace;
}

/* Header */

header {
    text-align: center;
}

/* MessagesList */

.messages-list {
    margin-left: 1em;
    list-style: none;
    width: 600px;
}

/* Connections */

.active-connections-block {
    margin-right: 10%;
}

.active-connections-block__header {
    font-size: 18px;
    text-transform: uppercase;
}

/* MessagesForm */

.messages-form {
    display: flex;
}

.messages-form__label {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
}

/* NicknameForm */

.input-nickname-form {
    display: flex;
    margin: 3% 5%;
}

.input-nickname-form__label {
    font-size: 16px;
    padding: 1em .5em;
}

.input-nickname-form__input {
    font-size: 16px;
}

/* Animation */

.message-slide-enter {
    transform: translateX(-100%);
}

.message-slide-enter.message-slide-enter-active {
    transform: translateX(0);
    transition: all 500ms;
}

.messages-form__input {
    width: 600px;
}

.connections-slide-enter {
    transform: translateX(200%);
}

.connections-slide-enter.connections-slide-enter-active {
    transform: translateX(0);
    transition: all 500ms;
}

.connections-slide-leave {
    transform: translateX(0);
}

.connections-slide-leave.connections-slide-leave-active {
    transform: translateX(200%);
    transition: all 500ms;
}

@media screen and (max-width: 375px) {
    #messages {
        margin-top: 30px;
        margin-left: 5px;
        font-size: 15px;
    }

    .active-connections-block {
        display: none;
    }
}