.container {
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
    color: #fff;
    font-family: 'Roboto', monospace;
}

/* Header */

.header {
    text-align: center;
}

.main {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* MessagesList */

.messages-list {
    list-style: none;
    width: 600px;
    max-height: 500px;
    overflow-y: auto;
}

.messages-list__message {
    word-wrap: break-word;
    margin-top: 6px;
}

.messages-list__nickname {
    white-space: pre-wrap;
}

.messages-list__text {
    line-height: 16px;
    font-size: 16px;
    white-space: pre-wrap;
}

.messages-list__time {
    position: relative;
    top: 4px;
    font-size: 12px;
    color: #c0c0c0;
}


/* Connections */

.active-connections-block {
    padding: 5% 10%;
}

.active-connections-block__header {
    font-size: 18px;
    text-transform: uppercase;
}

/* MessagesForm */

.messages-block {
    padding-top: 5%;
}

.messages-form {
    display: flex;
}

.messages-form__label {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
}

.messages-form__input {
    width: 680px;
    outline: none;
    border: none;
    background-color: black;
    color: #fff;
    padding: 1em .5em;
    display: block;
    font-size: 1.5em;
    font-family: 'Roboto', monospace;
}

/* NicknameForm */

.input-nickname-form {
    display: flex;
    padding: 50px;
}

.input-nickname-form__label {
    font-size: 1.2em;
    padding: 1em .5em;
}

.input-nickname-form__input {
    outline: none;
    border: none;
    background-color: black;
    color: #fff;
    padding: 1em .5em;
    font-size: 1.2em;
    font-family: 'Roboto', monospace;
}

/* Animation */

.message-slide-enter {
    transform: translateX(-100%);
}

.message-slide-enter.message-slide-enter-active {
    transform: translateX(0);
    transition: all 500ms;
}

.messages-form__input {
}

.connections-slide-enter {
    transform: translateX(200%);
}

.connections-slide-enter.connections-slide-enter-active {
    transform: translateX(0);
    transition: all 500ms;
}

.connections-slide-leave {
    transform: translateX(0);
}

.connections-slide-leave.connections-slide-leave-active {
    transform: translateX(200%);
    transition: all 500ms;
}

@media screen and (max-width: 320px) {

    .input-nickname-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .input-nickname-form__label {
        margin-left: 10px;
        font-size: 16px;
    }

    .input-nickname-form__input {
        padding-bottom: 10px;
        border-bottom: #c695ee 1px solid;
    }

    .messages-list {
        width: 305px;
        max-height: 340px;
        padding: 10px 30px;
    }

    .messages-form {
        position: absolute;
        top: 91%;
        left: 4%;
    }

    .messages-form__label {
        padding: 0;
        font-size: 30px;
    }

    .messages-form__input {
        padding: 7px;
        width: 270px;
        font-size: 20px;
    }

    .active-connections-block {
        display: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {

    .input-nickname-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .input-nickname-form__label {
        margin-left: 10px;
        font-size: 16px;
    }

    .input-nickname-form__input {
        padding-bottom: 10px;
        border-bottom: #c695ee 1px solid;
    }

    .messages-list {
        width: 340px;
        max-height: 430px;
        padding: 10px 20px;
    }

    .messages-list__message {
        margin-top: 6px;
    }

    .messages-form {
        position: absolute;
        top: 91%;
        left: 4%;
    }

    .messages-form__label {
        padding: 0;
        font-size: 30px;
    }

    .messages-form__input {
        padding: 7px;
        width: 270px;
        font-size: 20px;
    }

    .active-connections-block {
        display: none;
    }
}

@media screen and (min-width: 376px) and (max-width: 414px) {

    .input-nickname-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .input-nickname-form__label {
        margin-left: 10px;
        font-size: 16px;
    }

    .input-nickname-form__input {
        padding-bottom: 10px;
        border-bottom: #c695ee 1px solid;
    }

    .messages-list {
        width: 385px;
        max-height: 500px;
        padding: 10px 20px;
    }

    .messages-list__message {
        line-height: 18px;
    }

    .messages-form {
        position: absolute;
        top: 91%;
        left: 4%;
    }

    .messages-form__label {
        padding: 0;
        font-size: 30px;
    }

    .messages-form__input {
        padding: 7px;
        width: 270px;
        font-size: 20px;
    }

    .active-connections-block {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .input-nickname-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .input-nickname-form__label {
        margin-left: 10px;
        font-size: 24px;
    }

    .input-nickname-form__input {
        width: 400px;
        padding-bottom: 10px;
        border-bottom: #c695ee 1px solid;
    }

    .messages-list {
        width: 750px;
        max-height: 720px;
        padding: 10px 20px;
    }

    .messages-list__message {
        margin-top: 8px;
        line-height: 26px;
    }

    .messages-list__nickname {
        font-size: 22px;
    }

    .messages-list__text {
        font-size: 22px;
    }

    .messages-list__time {
        font-size: 15px;
    }

    .messages-form {
        position: absolute;
        top: 91%;
        left: 4%;
    }

    .messages-form__label {
        padding: 0;
        font-size: 30px;
    }

    .messages-form__input {
        padding: 7px;
        width: 270px;
        font-size: 20px;
    }

    .active-connections-block {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #c695ee;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}