body {
  background-color: black;
  color: #c695ee;
  font-family: 'Roboto', monospace;
}

header {
  text-align: center;
}

.messages {
  margin-left: 1em;
  list-style: none;
  width: 800px;
}

.messages li {
  width: 600px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.active-connections-block {
  margin-right: 10%;
}

.active-connections-block__header {
  font-size: 18px;
}

#form {
  display: flex;
}

input, label {
  display: block;
}

input {
  outline: none;
  border: none;
  background-color: black;
  color: #c695ee;
  padding: 1em .5em;
  display: block;
  font-size: 1.5em;
  font-family: 'Roboto', monospace;
}

label {
  display: block;
  padding: 1em .5em;
  font-size: 1.5em;
}

.active-connections-block__header {
  text-transform: uppercase;
}

#input {
  white-space: pre-wrap;
  text-overflow: ellipsis;
  width: 300px;
}

.input-nickname-form {
  margin: 3% 5%;
}

.input-nickname-form__label {
  font-size: 15px;
}

.input-nickname-form__input {
  width: 300px;
  font-size: 15px;
}

@media screen and (max-width: 375px) {
  #messages {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 15px;
  }
  
  .active-connections-block {
    display: none;
  }
  
  
}